# **Typecasting**

In [ ]:

a = '123'    # string
b = 3.14     # float
c = True     # boolean

# Convert a string to integer
a = int(a)

# Convert a float to integer
b = int(b)

# Convert a boolean to integer
c = int(c)

# Convert an integer to float
a = float(a)

# Print the final values and their types
print(a, type(a))
print(b, type(b))
print(c, type(c))

123.0 <class 'float'>
3 <class 'int'>
1 <class 'int'>

# **dictionary**

In [ ]:

my_dict = {'name': 'John', 'age': 30, 'gender': 'male'}
name_value = my_dict['name']
print(name_value)

John

# **Indexing in list**

In [ ]:
my_list = ['apple', 'banana', 'orange', 'grape', 'kiwi']

# Accessing elements by index
print(my_list[0])   # 'apple'
print(my_list[1])   # 'banana'

apple
banana

# **Indexing in tuple**

In [ ]:
my_tuple = ('apple', 'banana', 'orange', 'grape', 'kiwi')

# Accessing elements by index
print(my_tuple[0])   # 'apple'
print(my_tuple[1])   # 'banana

apple
banana

In [ ]:
#indexing in set is not possible because they are unordered collection of unique elements.