# **Access a particular Element**

In [5]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Access a particular element
element = 3
if element in my_set:
    print(f"{element} is in the set")
else:
    print(f"{element} is not in the set")

3 is in the set

# **Using Append()**

In [6]:
# Create a list
my_list = [1, 2, 3, 4]

# Append an element to the list
my_list.append(5)
print(my_list)   # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

# **Difference between remove() function and discard() function**

In [7]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an element
my_set.remove(3)
print(my_set)   # Output: {1, 2, 4, 5}

# Try to remove a non-existent element
my_set.discard(3)
print(my_set)   # Output: {1, 2, 4, 5}

{1, 2, 4, 5}
{1, 2, 4, 5}

# **Intersection_update() function:**

In [8]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {2, 3, 4, 5}

# Update set1 with the intersection of set1 and set2
set1.intersection_update(set2)
print(set1)   # Output: {2, 3, 4}

{2, 3, 4}

# **Symmetric_difference_update() function:**

In [9]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {2, 3, 4, 5}

# Update set1 with the symmetric difference of set1 and set2
set1.symmetric_difference_update(set2)
print(set1)   # Output: {1, 5}

{1, 5}

# **Symmetric_difference() function:**

In [10]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {2, 3, 4, 5}

# Get the symmetric difference of set1 and set2
symmetric_diff = set1.symmetric_difference(set2)
print(symmetric_diff)   # Output: {1, 5}

{1, 5}

# **Dict() function:**

In [11]:
# Create a dictionary
my_dict = dict(name="John", age=30, city="New York")
print(my_dict)   # Output: {'name': 'John', 'age': 30, 'city': 'New York'}

{'name': 'John', 'age': 30, 'city': 'New York'}